
<style>

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tangerine:wght@400;700&display=swap');



*{
    --light-gray: #f2f0f0;
    --gray: #e3e3e3;
    --dark-gray: #919191;
    --darker-gray: #545454;
    --logo-blue: #FFF;
    --darker-blue: #1E40AF;
    --lighter-blue: #a00;
    --even-lighter-blue: #AA0000;
    --lightest-blue: #BB0000;
    --red: #FF0000;
    --dark-orange: #ED0707;
    --light-orange: #a00;
    --even-lighter-orange: #bb0000;
    --strange-yellow: #dbae2e;
    --green: #34D399;
    --light-green: #E6F8DD;
    --medium-green: #A0C99C;
    --dark-green: #059669;
    accent-color: #1D4ED8;
    accent-color: #FF0000;
}




*{
    font-family: "Poppins", serif;
}

main, footer{
    background:rgba(0,0,0,0.8) !important;
    color:#F1f1f1 !important;
    border: 2px solid #540000;
    border-radius: 10px;
}

.top{
    background:rgba(0,0,0,1) !important;
    color:#F1f1f1 !important;
    border: 2px solid #540000;
    border-radius: 10px;
    margin-top:10px !important;
}

.links{
    background:rgba(100,0,0,0.8) !important;
    color:#F1f1f1 !important;
    margin-top:15px !important;
    margin-bottom:15px !important;
    border: 2px solid #540000;
    border-radius: 10px;
}

.heading{color:#FFF !important;}


a{
    color:#f00 !important;}

body{background-color:#000 !important;
    background:url('https://image.cdn2.seaart.me/2023-11-02/21601855641487365/e2f6ac167772a98bed1fed6b3d3665c504c7a1c0_high.webp') !important;
    color:#F1f1f1;
    background-repeat: no-repeat !important;
    background-size:cover !important;
    background-attachment: fixed !important;
}

table{
    border-color:black !important;}



</style>